body {
    background: linear-gradient(135deg, #f9bcd0 60%, #3329de 100%),
                url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Segoe UI', 'Arial', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #3329de;
    letter-spacing: 1px;
}
